#home{
    height: 100%;
    width: 100%;
    background-color: whiteSmoke;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#header{
    text-align: center;
}

.paragraph{
    margin-left: 2rem;
    margin-right: 2rem;
}

ul{
    margin-left: 2rem;
    margin-right: 2rem;
}

.foot{
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.Mobile{
    width: 100%;
}
.Mparagraph{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 0.9rem;
}

#Mheader{
    text-align: center;
}

.Mfoot{
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

#Mul{
    margin-left: 1rem;
    margin-right: 1rem;
}