#heading{
    text-align: center;
}

.inputs{
    
    font-size: 1.2rem; 
    padding: 0.2rem; 
    margin-bottom: 0.5rem;
}

#SignForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    width: 70%; 
    margin-top: 1rem; 
    padding: 0.5rem;
}

#btn-div{
    margin: 0 auto; 
    width: 25%; 
    margin-top: 0.5rem; 
    padding: 1rem;
}

#btn{
  width: 100%;
  height: 30px;
  margin-right: 1rem;
  align-items: center;
}

.Minputs{
    
    font-size: 1rem; 
    padding: 0.2rem; 
    margin-bottom: 0.5rem;
}

#MSignForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    width: 90%; 
    margin-top: 1rem; 
    padding: 0.5rem;
}

