table{
    border-collapse: collapse;
    width: 100%;
}

table, th, td{
    border: 1px solid red;
}

th, td{
    padding: 0;
    padding-left: 1rem;
}

.sig{
    height: 50px;
    width: 400px;
}

.last{
    width: 410px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.page-item{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}