body {
  background-color: gray;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container {
  width: 100%;
  height: 50vh;
  top: 10%;
  left: 10%;
}

.sigContainer {
  width: 100%;
  height: 40%;
  margin: 0 auto;
  background-color: #fff;
}

.sigPad {
  width: 100%;
  height: 100%;
  border: 2px solid red;
}

.buttons {
  width: 40%;
  height: 30px;
  margin-right: 1rem;
  align-items: center;
}

.sigImage {
  background-size: 200px 50px;
  width: 200px;
  height: 50px;
  background-color: white;
}
.Mcontainer {
  width: 100%;
  
  top: 10%;
  left: 10%;
}

.MsigContainer {
  width: 100%;
  height: 40%;
  margin: 0 auto;
  background-color: #fff;
}

.MsigPad {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  margin-bottom: 1rem;
}

.Mbuttons {
  width: 30%;
  height: 30px;
  margin: 0 auto;
}

#clear{
  margin-left: 1.5rem;
}

#sign{
  margin-left: 1rem;
}